{% extends "base.html" %}
{% block content %}
<h1>Наши коты</h1>
<a href="/add">Добавить своего</a>
    <div class="card-deck">
    {% for cat in cats %}
            <div class="card" style="max-width: 33%;">
              <img src="{{ cat['photo'] }}" class="card-img-top"  alt="...">
              <div class="card-body">
                <h2 class="card-title">{{ cat['name'] }}</h2>
                <p class="card-text">{{ cat['short_description'] }}</p>
                <a href="/cats/{{ loop.index }}" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}
